# SF Salaries Exercise 

[SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle!

**Import pandas as pd.**

In [ ]:
import pandas as pd

** Read Salaries.xlsx as a dataframe called sal.**

In [ ]:
employee_info = pd.read_excel('/content/sf_salaries.xlsx', sheet_name='employee_info')

In [ ]:
job_title1 = pd.read_excel('/content/sf_salaries.xlsx', sheet_name='job_title1')
job_title2 = pd.read_excel('/content/sf_salaries.xlsx', sheet_name='job_title2')
job_title = job_title1.append(job_title2)

In [ ]:
job_title = pd.concat([job_title1, job_title2], axis=0)

In [ ]:
benefit = pd.read_excel('/content/sf_salaries.xlsx', sheet_name='benefit')

In [ ]:
join_year = pd.read_excel('/content/sf_salaries.xlsx', sheet_name='join_year')

Drop the data if there any duplicate data

In [ ]:
#untuk menghapus data duplicate dengan parameter index
employee_info.drop_duplicates(inplace=True)

** Check the head of the DataFrame. **

In [ ]:
employee_info.head()

In [ ]:
job_title1.head()

In [ ]:
job_title2.head()

In [ ]:
job_title.head()

In [ ]:
join_year.head()

In [ ]:
benefit.head()

** Check the tail of the DataFrame. **

In [ ]:
employee_info.tail()

In [ ]:
job_title1.tail()

In [ ]:
job_title2.tail()

In [ ]:
job_title.tail()

In [ ]:
join_year.tail()

In [ ]:
benefit.tail()

**combine all the dataframe**

In [ ]:
employee_info.set_index('Id', inplace=True)

In [ ]:
job_title.set_index('Id', inplace=True)

In [ ]:
benefit.set_index('Id', inplace=True)

In [ ]:
join_year['Id'] = join_year.index.values + 1

In [ ]:
join_year.set_index('Id', inplace=True)

In [ ]:
dataset = employee_info.join(job_title).join(benefit).join(join_year, rsuffix='_')
dataset.drop(columns=['EmployeeName_'], inplace=True)

In [ ]:
dataset.head()

,EmployeeName,Notes,Agency,Status,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
Id,,,,,,,,,,,,
1,NATHANIEL FORD,NaN,San Francisco,NaN,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011
2,GARY JIMENEZ,NaN,San Francisco,NaN,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011
3,ALBERT PARDINI,NaN,San Francisco,NaN,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011
4,CHRISTOPHER CHONG,NaN,San Francisco,NaN,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011
5,PATRICK GARDNER,NaN,San Francisco,NaN,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011

In [ ]:
dataset.tail()

**Use the .info() method to find out how many entries there are.**

In [ ]:
employee_info.info()

In [ ]:
job_title1.info()

In [ ]:
job_title2.info()

In [ ]:
job_title.info()

In [ ]:
join_year.info()

In [ ]:
benefit.info()

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 148654 entries, 1 to 148654
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   EmployeeName      148654 non-null  object
 1   Agency            148654 non-null  object
 2   Status            38119 non-null   object
 3   JobTitle          148654 non-null  object
 4   BasePay           148049 non-null  float64
 5   OvertimePay       148654 non-null  float64
 6   OtherPay          148654 non-null  object
 7   Benefits          112495 non-null  object
 8   TotalPay          148654 non-null  float64
 9   TotalPayBenefits  148654 non-null  float64
 10  Year              148654 non-null  int64
dtypes: float64(4), int64(1), object(6)
memory usage: 17.6+ MB

**check is there any duplicate data in the dataset**

In [ ]:
dataset[dataset.duplicated()]

,EmployeeName,Notes,Agency,Status,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
Id,,,,,,,,,,,,
148651,Not provided,NaN,San Francisco,NaN,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.0,0.0,2014
148652,Not provided,NaN,San Francisco,NaN,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.0,0.0,2014
148653,Not provided,NaN,San Francisco,NaN,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.0,0.0,2014

**check is there any data that the employeename contain null value**

In [ ]:
import numpy as np

In [ ]:
dataset[dataset['EmployeeName'] == np.nan]

In [ ]:
dataset [dataset['EmployeeName'].isnull()]

**What is the average BasePay ?**

In [ ]:
dataset['BasePay'] = dataset [ 'BasePay'].replace('Not Provided', 0)
dataset['BasePay'] = dataset [ 'BasePay'].astype('float')
dataset['BasePay'].mean()

66323.65685410085

**What is the average BasePay per job title?**

In [ ]:
dataset.groupby('JobTitle').agg({'BasePay': ['mean', 'max', 'min']})

**What is the highest amount of OvertimePay in the dataset ?**

In [ ]:
dataset['OvertimePay'] = dataset ['OvertimePay'].replace('Not Provided', 0)
dataset['OvertimePay'] = dataset ['OvertimePay'].astype('float')
dataset['OvertimePay'].max()

245131.88

**which agency that provide highest paid**

In [ ]:
dataset.groupby('Agency').agg({'TotalPay': 'max'})

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [ ]:
dataset[dataset['EmployeeName'] == 'JOSEPH DRISCOLL ']['JobTitle']

Series([], Name: JobTitle, dtype: object)

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [ ]:
dataset[dataset['EmployeeName'] == 'JOSEPH DRISCOLL ']['TotalPayBenefits']

Series([], Name: TotalPayBenefits, dtype: float64)

In [ ]:
dataset[dataset['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPay']

Id
25    270324.91
Name: TotalPay, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [ ]:
dataset[dataset['TotalPayBenefits'] == dataset.TotalPayBenefits.max()]

,EmployeeName,Notes,Agency,Status,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
Id,,,,,,,,,,,,
1,NATHANIEL FORD,NaN,San Francisco,NaN,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [ ]:
dataset[dataset['TotalPayBenefits'] == dataset.TotalPayBenefits.min()]

,EmployeeName,Notes,Agency,Status,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
Id,,,,,,,,,,,,
148654,Joe Lopez,NaN,San Francisco,PT,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.00,-618.13,-618.13,2014

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [ ]:
dataset.groupby('Year').agg({'BasePay': 'mean'})

           BasePay
Year
2011  63595.956517
2012  65436.406857
2013  69630.030216
2014  66557.437750

In [ ]:
dataset [dataset['Year'].isin([2011, 2012, 2013, 2014])].groupby('Year').agg({'BasePay': 'mean'})

           BasePay
Year
2011  63595.956517
2012  65436.406857
2013  69630.030216
2014  66557.437750

** How many unique job titles are there? **

In [ ]:
dataset['JobTitle'].nunique()

2159

** What are the top 5 most common jobs? **

In [ ]:
dataset['JobTitle'].value_counts().head()

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [ ]:
sum(dataset[dataset['Year']==2013]['JobTitle'].value_counts() == 1)

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [ ]:
def chief(title):
  if 'chief' in title.lower():
    return True
  else:
    return False

In [ ]:
dataset[(dataset['JobTitle'].apply(lambda job_title: chief(job_title)))]

,EmployeeName,Notes,Agency,Status,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
Id,,,,,,,,,,,,
5,PATRICK GARDNER,NaN,San Francisco,NaN,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011
6,DAVID SULLIVAN,NaN,San Francisco,NaN,ASSISTANT DEPUTY CHIEF II,118602.00,8601.00,189082.74,NaN,316285.74,316285.74,2011
7,ALSON LEE,NaN,San Francisco,NaN,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.90,134426.14,NaN,315981.05,315981.05,2011
9,MICHAEL MORRIS,NaN,San Francisco,NaN,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011
10,JOANNE HAYES-WHITE,NaN,San Francisco,NaN,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.00,0.00,17115.73,NaN,302377.73,302377.73,2011
...,...,...,...,...,...,...,...,...,...,...,...,...
138012,Sharon C Jackson,NaN,San Francisco,PT,Chief Deputy Adlt Probation Of,56660.18,0.00,0.00,566.61,56660.18,57226.79,2014
139621,Anita S Lee,NaN,San Francisco,PT,Chief Clerk,38598.86,0.00,0.00,386.00,38598.86,38984.86,2014
139710,George D Vaughan,NaN,San Francisco,PT,Chief Nursery Specialist,27319.47,483.90,0.00,10334.67,27803.37,38138.04,2014
140081,Patrick W Gillespie,NaN,San Francisco,PT,Chief Preparator,24091.00,0.00,0.00,10176.77,24091.00,34267.77,2014
140157,Christopher L Ochoa,NaN,San Francisco,PT,Chief Stationary Engineer,24392.00,418.71,0.00,8918.44,24810.71,33729.15,2014

**what is the average total pay per agency for each year**

In [ ]:
dataset.groupby(['Agency', 'Year']).agg({'TotalPay': 'mean'})

                        TotalPay
Agency        Year
San Francisco 2011  71744.103871
              2012  74113.262265
              2013  77611.443142
              2014  75463.918140

**remove column notes**

In [ ]:
dataset.drop(columns='Notes', inplace=True)

In [ ]:
dataset.head()

,EmployeeName,Agency,Status,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
Id,,,,,,,,,,,
1,NATHANIEL FORD,San Francisco,NaN,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011
2,GARY JIMENEZ,San Francisco,NaN,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011
3,ALBERT PARDINI,San Francisco,NaN,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011
4,CHRISTOPHER CHONG,San Francisco,NaN,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.9,NaN,332343.61,332343.61,2011
5,PATRICK GARDNER,San Francisco,NaN,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011

Is there a correlation between length of the Job Title string and Salary? **

In [ ]:
dataset['title_len'] = dataset['JobTitle'].apply(len)

In [ ]:
dataset[['title_len', 'TotalPayBenefits']].corr()

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

# Great Job!